#header {
    font-weight: bold;
    color: Blue;
}
img {
    border-radius: 200px;
}
body {
    font-family: 'Lora', serif;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
